
*.exe
*.out
*.app
*.dll
*.so
*.dylib

*.o
*.obj
*.gch
*.pch
*.lib
*.a

*.log
*.dbg

.vscode/
.idea/
*.code-workspace
*.sublime-workspace
*.sublime-project

*.bak
*.tmp
*.swp
*~

.DS_Store
Thumbs.db
desktop.ini
